.modal-dialog{
  margin-top: 22vh;
  width: 400px;
}

.search-input-container {
  position: relative;
  display: inline-block;
  margin-top: 10px;
}


/* Style for search input */
.search-input-container input[type='text'] {
  width: 218px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

/* Style for search results dropdown */

.search-results {
  position: absolute;
  top: 100%; /* Position it below the input */
  left: 0;
  z-index: 1;
  background-color: #fff; /* Background color */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
  border-radius: 4px;
  width: 200px; /* Adjust the width as needed */
  max-height: 200px; /* Limit the height for scrolling */
  overflow-y: auto; /* Enable vertical scrolling */
}

/* Style for each dropdown item */
.search-results ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.search-results li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.search-results li:hover {
  background-color: #f0f0f0; /* Hover background color */
}

/* Style for the remove button */
.remove-user-btn {
  background-color: white !important; /* Red background color */
  color: #bbb !important; /* Text color */
  border: none;
  border-radius: 50%;
  padding: 0.25rem 0.5rem;
  cursor: pointer;
  font-size: 1rem; /* Adjust the font size as needed */
}

/* .remove-user-btn:hover {
  background-color: #c82333; /* Red background color on hover */
 

.remove-user-btn:focus {
  outline: none; /* Remove the default focus outline */
}
.btn-savebutton{
background-color: green !important;
}



/* form{
  margin: 10px;
} */

form .btn-success{
  margin-top: 8px;
  background-color: goldenrod;
}
form .btn-success:hover{
  margin-top: 8px;
  background-color: goldenrod;
  color: black;
}

.btn-primary{
  background-color: red !important;
}

.btn-secondary{
  background-color: grey !important;
}
.selected-users {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
}

/* Styles for each selected user item */
.selected-user {
  background-color: #333; /* Blue background color */
  color: #fff; /* Text color */
  border: none;
  border-radius: 4px;
  padding: 0.25rem 0.5rem;
  margin: 0.25rem;
  display: flex;
  align-items: center;
}

